.faq-container {
  margin: 0 auto;
  width: 80%;
}

.this_h1 {
  color: #fff;
}
.faq-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.faq-item {
  margin-bottom: 20px;
  border-left: 4px solid #fff;
  padding-left: 10px;
}

.faq-question {
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
}

.faq-answer {
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}